[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djitellopy2 = "*"
opencv-python = "*"
numpy = "*"
pillow = "*"
tello = "*"
matplotlib = "*"
djitellopy = "*"
pyzbar = "*"

[dev-packages]

[requires]
python_version = "3.7"
